@{
    ViewBag.Title = "letsrockit";
}

<h2>@ViewBag.teamscores @ViewBag.id @ViewBag.score 
                @ViewBag.hteam
                @ViewBag.ateam
                @ViewBag.date
                @ViewBag.time 
                @ViewBag.teamscoreh - 
                @ViewBag.teamscorea
                </h2>

<p> it works goddamn you! </p>